sudo: required

services:
  - docker

before_install:
  - make build VERSION=1.7.1
  - make build VERSION=1.7.1-couchperuser
  - make build
  - make build ARCH=ppc64le

script:
  - docker run -d -p 5984:5984 couchdb:1.7.1 && sleep 5 && curl http://localhost:5984
  - docker run -d -p 5985:5984 couchdb:1.7.1-couchperuser && sleep 5 && curl http://localhost:5985
  - docker run -d -p 5986:5984 couchdb:2.1.1 && sleep 5 && curl http://localhost:5986
