sudo: required

language: minimal

# Avoid double build on PRs (See https://github.com/travis-ci/travis-ci/issues/1147)
branches:
  only:
    - master

services:
  - docker

env:
  - RELEASES=2.3.0
  - RELEASES=2.3.1
  - RELEASES=dev
  - RELEASES=dev-cluster

script:
  - for rel in $RELEASES; do docker build -t couchdb:$rel $rel; docker run -d --name $rel -p 5984:5984 couchdb:$rel && sleep 10 && curl http://localhost:5984 && docker kill $rel; done
